body {
  padding-left: 11em;
  font-family: 'PT Serif', Georgia, "Times New Roman",
        Times, serif;
  color: blue;
  background-color: lightgrey }

h1 {
    padding-left: 1em;
    font-family: 'Open Sans', Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
ul.navbar li {
  background: grey;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: darkred }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
footer {
    margin-top: 2em;
    padding-top: 1em;
    border-top: thin dotted }